<html>
    <br />
    <br />
    <br />
    <br />
    <h1 class="text-center"> Good Morning, 
    <br />
    Kalen!</h1>
    <br />
    <br />


    <h2 class="text-center"> Here's your TED fix: </h2>
    <br />

    <div class="col-8 offset-2 text-center">
        <iframe width="738" height="415.5" src="https://www.youtube.com/embed/esD6aaIjhek" frameborder="0" allowfullscreen></iframe>
    <br />
    (<a href="https://www.ted.com/talks">Complete list of TED talks</a>)
    (<a href="https://www.ted.com/surpriseme">TED talks "Surprise me!"</a>)
        </div>
    <br />
    <br />

    <h2 class="text-center"> (Enjoy the day!)</h2>
</html>
