@import "bootstrap";    

.navbar-inverse .navbar-nav .nav-link {
  color: white;
  font-family: 'kalamregular';
  opacity: .95;
}

.navbar-inverse .navbar-brand {
    color: #E3E85A;
    font-family: 'kalamregular';
    font-size: 22px;
}

h1{
   color: #E3E85A; 
}